langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
pandas
jq
matplotlib
langchain-huggingface
sentence-transformers
langchain-community
openai>=0.27.0
rank_bm25
wikipedia
